{
	"TextureSize" : {
		"Width" : 160,
		"Height" : 128
	},
	"TileSize" : {
		"Width" : 16,
		"Height" : 16
	},
	"Tiles" : [{
			"X" : 1,
			"Y" : 0,
			"Flags" : 1
		}, {
			"X" : 1,
			"Y" : 0,
			"Flags" : 1
		}, {
			"X" : 2,
			"Y" : 0,
			"Flags" : 1
		}, {
			"X" : 3,
			"Y" : 0,
			"Flags" : 1
		}, {
			"X" : 4,
			"Y" : 0,
			"Flags" : 1
		}, {
			"X" : 5,
			"Y" : 0,
			"Flags" : 1
		}, {
			"X" : 6,
			"Y" : 0,
			"Flags" : 1
		}, {
			"X" : 0,
			"Y" : 1,
			"Flags" : 1
		}, {
			"X" : 1,
			"Y" : 1,
			"Flags" : 1
		}, {
			"X" : 2,
			"Y" : 1,
			"Flags" : 1
		}, {
			"X" : 3,
			"Y" : 1,
			"Flags" : 1
		}, {
			"X" : 4,
			"Y" : 1,
			"Flags" : 1
		}, {
			"X" : 5,
			"Y" : 1,
			"Flags" : 1
		}, {
			"X" : 6,
			"Y" : 1,
			"Flags" : 1
		}, {
			"X" : 0,
			"Y" : 2,
			"Flags" : 1
		}, {
			"X" : 0,
			"Y" : 2,
			"Flags" : 1
		}, {
			"X" : 4,
			"Y" : 7,
			"Flags" : 1
		}, {
			"X" : 5,
			"Y" : 7,
			"Flags" : 1
		}, {
			"X" : 6,
			"Y" : 7,
			"Flags" : 1
		}, {
			"X" : 7,
			"Y" : 7,
			"Flags" : 1
		}, {
			"X" : 8,
			"Y" : 7,
			"Flags" : 1
		}
	]
}
