{
	"Name" : "king",
	"Texture" : "characters",
	"Cells" : [{
			"Left" : 0,
			"Top" : 32,
			"Width" : 32,
			"Height" : 32
		}, {
			"Left" : 32,
			"Top" : 32,
			"Width" : 32,
			"Height" : 32
		}, {
			"Left" : 64,
			"Top" : 32,
			"Width" : 32,
			"Height" : 32
		}, {
			"Left" : 96,
			"Top" : 32,
			"Width" : 32,
			"Height" : 32
		}, {
			"Left" : 128,
			"Top" : 32,
			"Width" : 32,
			"Height" : 32
		}, {
			"Left" : 160,
			"Top" : 32,
			"Width" : 32,
			"Height" : 32
		}, {
			"Left" : 192,
			"Top" : 32,
			"Width" : 32,
			"Height" : 32
		}, {
			"Left" : 224,
			"Top" : 32,
			"Width" : 32,
			"Height" : 32
		}, {
			"Left" : 256,
			"Top" : 32,
			"Width" : 32,
			"Height" : 32
		}, {
			"Left" : 288,
			"Top" : 32,
			"Width" : 32,
			"Height" : 32
		}, {
			"Left" : 320,
			"Top" : 32,
			"Width" : 32,
			"Height" : 32
		}, {
			"Left" : 352,
			"Top" : 32,
			"Width" : 32,
			"Height" : 32
		}, {
			"Left" : 384,
			"Top" : 32,
			"Width" : 32,
			"Height" : 32
		}, {
			"Left" : 416,
			"Top" : 32,
			"Width" : 32,
			"Height" : 32
		}, {
			"Left" : 448,
			"Top" : 32,
			"Width" : 32,
			"Height" : 32
		}, {
			"Left" : 480,
			"Top" : 32,
			"Width" : 32,
			"Height" : 32
		}, {
			"Left" : 512,
			"Top" : 32,
			"Width" : 32,
			"Height" : 32
		}, {
			"Left" : 544,
			"Top" : 32,
			"Width" : 32,
			"Height" : 32
		}, {
			"Left" : 576,
			"Top" : 32,
			"Width" : 32,
			"Height" : 32
		}, {
			"Left" : 608,
			"Top" : 32,
			"Width" : 32,
			"Height" : 32
		}, {
			"Left" : 640,
			"Top" : 32,
			"Width" : 32,
			"Height" : 32
		}, {
			"Left" : 672,
			"Top" : 32,
			"Width" : 32,
			"Height" : 32
		}, {
			"Left" : 704,
			"Top" : 32,
			"Width" : 32,
			"Height" : 32
		}
	]
}
